
   /* .parent {
        width:100vw;
        height:100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    body {

        background-image: ("https://img.freepik.com/vecteurs-libre/fond-monochrome-blanc-style-papier_52683-66443.jpg?w=996&t=st=1681717081~exp=1681717681~hmac=69e823b308dc6ff005232038e5f729cb398ef905aa7b3f26481a5c2780edd23furl","https://img.freepik.com/photos-gratuite/texture-mur-stuc-bleu-marine-relief-decoratif-abstrait-grunge-fond-colore-rugueux-grand-angle_1258-28311.jpg?w=1380&t=st=1681719539~exp=1681720139~hmac=3049596cad2c0e19c43d74483afd2c21bcaafda3f382be1ca7b5150ffe503010");
        
        display:flex;
    }

    .maurice {
        color: brown;
    }

    #mocha {
        color: blue;
    }

    a {
        color: aqua;
    }

    */
    .table {
        width: 50%;
        height: auto;
        position: absolute;
  bottom: 0;
  left: 1;
      }

      .pot {
        width: 10%;
        height:auto;
        position: absolute;
        bottom:50;
        left: 310;
      }

      .premiereplante {
        width: 15%;
        height: auto;
        position: absolute;
        bottom: 150;
        left:260;
      }
        .bouton {
            background-color: #0D406D; /* Couleur de fond */
            border: none; /* Pas de bordure */
            color: white; /* Couleur du texte */
            padding: 10px 20px; /* Espacement autour du texte */
            text-align: center; /* Alignement du texte */
            text-decoration: none; /* Pas de soulignement */
            display: inline-block; /* Affichage en ligne */
            font-size: 16px; /* Taille de police */
            margin: 4px 2px; /* Marge autour du bouton */
            cursor: pointer; /* Curseur de souris */
            border-radius: 10px; /* Arrondi des coins */
          }
