.table {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 90;
}

.pot {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 50;
  left: 400;
}

.premiereplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 145;
  left: 350;
}

.deuxiemeplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 170;
  left: 350;
}

.troisiemeplante {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 150;
  left: 390;
}

.fenetre1 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 317;
}

.fenetre2 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 317;
}

.fenetre3 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 317;
}

#imageAffichee {
  width: 19%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 320;
}

.nuit {
  width: 18%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 330;
}

.bouton {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 80;
  top: 80;
  right: 180;
}

.boutonfeuilles {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 80;
  top: 180;
  right: 210;
}

.boutonfenêtre {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 80;
  top: 110;
  right: 210;
}


button:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Satisfy";
  src: url("Satisfy-Regular.ttf");
}

body {
  font-family: "Satisfy", sans-serif;
}

h1 {
  font-size: 60px;
  margin-left: 280;
  position: absolute;
  top: -14;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 80;
}

.Screenshot {

  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 80;
  top: 200;
  right: 222;
}

.texte {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  z-index: 80;
}

.container-boutons-jour-nuit {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999;
  position: relative;
  top: 250;
  right: 210;
}

.bouton-jour {
  cursor: pointer;
}

.bouton-nuit {
  cursor: pointer;
}

.monboutonjour {

  width: 50px;
  height: auto;
  border: none;
}

.monboutonnuit {

  width: 50px;
  height: auto;
  border: none;
}


textarea {

  background-color: beige;
  border: none;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  resize: none;
  z-index: 80;
  top: 150;
  right: 200;
}

audio {

  width: 15%;
  outline: none;
  border-radius: 18px;
  display: flex;
  position: fixed;
  bottom: 160;
  right: 180;
  z-index: 80;
}

p,
label {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: 0.4rem;
}

#rendutexte {

  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: beige;
  position: absolute;
  left: 430px;
  bottom: 90px;
  z-index: 49;
}

.interface {

  width: 395px;
  height: auto;
  position: absolute;
  right: 100px;
  bottom: 7px;
  z-index: 79;
}

#filtrenuit {


  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #0d406d3c;
  visibility: hidden;
}