.table {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 1;
}

.pot {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 50;
  left: 310;
}

.premiereplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 145;
  left: 260;
}

.deuxiemeplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 170;
  left: 260;
}

.troisiemeplante {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 150;
  left: 305;
}

.fenetre1 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 230;
}

.fenetre2 {
  width: 20%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 230;
}

.jour {
  width: 18%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 240;
}

.nuit {
  width: 18%;
  height: auto;
  position: absolute;
  bottom: 130;
  left: 240;
}

.bouton {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.boutonfeuilles {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Satisfy";
  src: url("Satisfy-Regular.ttf");
}

body {
font-family: "Satisfy", sans-serif;
}

h1 {
  font-size: 60px;
  margin-top: 0;
  margin-left: 170;

}

.buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.Screenshot {
  
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.monbouton {

  width: 50px;
  height: auto;
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.monboutonnuit {

  width: 50px;
  height: auto;
  border: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}