.table {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 1;
}

.pot {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 50;
  left: 310;
}

.premiereplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 150;
  left: 260;
}

.deuxiemeplante {
  width: 15%;
  height: auto;
  position: absolute;
  bottom: 170;
  left: 260;
}

.troisiemeplante {
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 150;
  left: 305;
}

.bouton {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  top: 0;
}

.boutonfeuilles {
  background-color: #0D406D;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  top: 70;
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Satisfy";
  src: url("Satisfy-Regular.ttf");
}

body {
font-family: "Satisfy", sans-serif;
}

h1 {
  font-size: 60px;
  margin-top: 40;
  margin-left: 170;

}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}